<header class="lg:py-2 backdrop-blur bg-white/80 transition shadow-sm lg:shadow-none">
  <div class=" container px-8 mx-auto flex items-center justify-between">
    <a class=" hover:opacity-80" href="/">
      <img class=" w-6 inline-block align-middle" src="/assets/logo.png" alt="site logo">
      <h1 class=" inline-block align-middle text-primary leading-[var(--header-height)]">{{ metadata.title }}</h1>
    </a>
    <input type="checkbox" class="peer absolute opacity-0 -z-10" id="hambuer">
    <nav class="hidden peer-checked:block absolute lg:block lg:static w-screen h-screen bg-white inset-0 lg:w-auto lg:h-auto lg:bg-transparent">
      <div class="container mx-auto px-8 lg:shrink-0 lg:w-auto">
        <div class=" lg:hidden text-right leading-[var(--header-height)]">
          <label for="hambuer" class=" text-2xl">
            <i class='bx bx-x'></i>
          </label>
        </div>
        {%- for item in category -%}
        <a class=" block hover:text-primary lg:inline-block lg:mx-2 align-middle leading-[var(--header-height)]" href="{{ item.url }}">{{ item.name }}</a>
        {%- endfor -%}
      </div>
    </nav>
    <label for="hambuer" class="lg:hidden text-2xl">
      <i class='bx bx-menu'></i>
    </label>
  </div>
</header>