<header class="lg:py-8 py-4 backdrop-blur bg-white/80 transition shadow-sm lg:shadow-none">
  <div class=" container px-8 mx-auto flex items-center justify-between flex-wrap">
    <a class=" hover:opacity-80" href="/">
      <img class=" w-6 inline-block align-middle" src="/assets/logo.png" alt="site logo">
      <h1 class=" inline-block align-middle text-primary leading-[var(--header-height)]">{{ metadata.title }}</h1>
    </a>
    <nav class="ml-auto">
      {%- for item in category -%}
        <a class="inline-block mx-6 align-middle leading-[var(--header-height)]" href="{{ item.url }}">{{ item.name }}</a>
      {%- endfor -%}
    </nav>
  </div>
</header>