@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-green-dark: 79 180 191;
    --color-green-light: 79 179 191;
    --color-green: 0 131 143;
    --color-primary: var(--color-green);
    --color-light: var(--color-green-light);
    --color-dark: var(--color-green-dark);
    --header-height: 56px;
  }
}

.warning {
  @apply border-y-2 border-r-2 border-l-8 border-amber-500 px-3 rounded-lg my-8 shadow-md;
}
.info {
  @apply border-y-2 border-r-2 border-l-8 border-violet-500 px-3 rounded-lg my-8 shadow-md;
}
.success {
  @apply border-y-2 border-r-2 border-l-8 border-emerald-400 px-3 rounded-lg  my-8 shadow-md;
}
.danger {
  @apply border-y-2 border-r-2 border-l-8 border-red-500 px-3 rounded-lg my-8 shadow-md;
}